<!-- スライド画像 -->
<div class="slide">
  <div id="randam" class="skippr">
    <div id="theTarget">
      <div class="image1"></div>
      <div class="image2"></div>
      <div class="image3"></div>
      <div class="image4"></div>
      <div class="image5"></div>
      <div class="image6"></div>
      <div class="image7"></div>
      <div class="image8"></div>
      <div class="image9"></div>
     </div>
  </div>
  <div class="container">
    <div class="tagline">
       <h2 class="home-title">What is your<br>
       dream?</h2>
       <p>さあ、強くなろう</p>
    </div>
  </div>
  <div class="scrolldown4"><span>Scroll</span></div>
</div>

  
  <!-- Coacher's Box　ABOUT -->
  <div class="top-title">
    <h1>What Coacher's Box？</h1>
  </div>
  <div class="about">
    <div class="home-about-text">
      <h3>Coacher's Box (コーチャーズボックス)<br>
      コーチが選手にアドバイスをくれるBoxです。<br>
      わからないこと、聞いてみたいことなどが聞けます。<br>
      <br>
      <div class="under-line-red">
      "もっと強くなりたい"<br>
      </div>
      でも
      <div class="under-line-blue">
      "わからない""教えてくれる人がいない"
      </div>
      <br>
      はもうありません。<br>
      全てあなたの行動次第です。<br>
      強くなろう、夢を叶えよう。<br>
      いま、行動しよう。
      </h3>
      <a class="chat-logo">
        <%= image_tag '2.png', :size =>'220x220' %>
      </a>
      <a class="chat-logo2">
        <%= image_tag '3.png', :size =>'220x220' %>
      </a>
    </div>
  </div>
  <!-- コーチのアドバイス投稿４つ -->
  <div class="top-title">
      <h1>新規登録はもう済んだ？</h1>
    </div>
  <div class="home-start">
    <h3>
    新規登録をすればコーチたちのアドバイス投稿が見れます。<br>
    また、コーチたちに質問することができます。<br>
    </h3>
    <!--　投稿４つを表示 -->
    <div class="container">
     <div class="card-deck pt-5">
        <% @posts.last(4).each do |post| %>
         <div class="col-md-3 mb-3 ">
          <div class="card shadow", style="width: 250px">
            <div class="card-body">
              <div class="video-post mx-auto pt-2" style="width: 200px;">
                <% if post.post.attached? %>
                  <%= video_tag rails_blob_path(post.post), size: "200x200",autoplay: true, muted: true %>
              </div>
              <h6><%= post.title %></h6>
              <% end %>
            </div>
          </div>
         </div>
        <% end %>
      </div>
    </div>
    <div class="new-button">
     <div class="new-link mb-5">
       <%= link_to "登録する", new_user_registration_path, class: "link"%>
     </div>
    </div>
  </div>
  <!-- コーチ募集 -->
  <div class="top-title">
      <h1>You can make the player stronger</h1>
  </div>
  <div class="coaching">
    <h3>学生時代スポーツに打ち込んでいた社会人の方、<br>
    現役でスポーツをしているが誰かを育ててみたい学生、社会人の方<br>
    コーチ登録をすれば、誰でもCoachになることができます。<br>
    また、あなたのスポーツの知識で多くのスポーツを行う人々が<br>
    諦めかけた目標を達成できる可能性が広がります。
    </h3>
  </div>
  <div class="coach-recruit">
    <div class="coach-recruit-content">
      <h1 class="home-coach">選手を強くするのは"コーチ"だ。</h1>
       <p>
         さあ、あなたも選手を強くしよう。
      </p>
    </div>
    <div class="coach-title">
      <h2 class="homepage-title">
      Now recruiting<br>
      Coach's</h2>
      <div class="home-button push">
      <%= link_to "コーチ登録", new_coach_registration_path, class: "link"%>
      </div>
    </div>
  </div>
