<div class="container">
  <div class="search pt-5">
    <h5>コーチ、投稿を検索してみる</h5>
    <%= render 'finders/search'%>
  </div>
    <div class="card-deck pt-5">
      <% @posts.each do |post| %>
        <div class="col-md-4 mb-3 ">
          <div class="card shadow">
            <div class="card-body">
              <div class="video-post mx-auto pt-2" style="width: 200px;">
                <% if post.post.attached? %>
                  <%= video_tag rails_blob_path(post.post), size: "200x100",autoplay: true, muted: true %>
              </div>
              <h6><%= post.title %></h6>
                <% end %>
              <%= link_to "READ MORE", coaches_post_path(post.id) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="pagenation row pb-4">
   <div class="mx-auto"><%= paginate @posts %></div>
  </div>
</div>

    