<div class="container_profile_edit">
    <%= form_with model: @coach, url: coaches_coaches_path, local:true do |f| %>
      <%= attachment_image_tag @coach, :profile_image, :fill, 60, 60, fallback:"noimage.png", size:'200x200' %>
      <div class="profile-edit">
      <label for="inputImage">Image</label>
      <%= f.attachment_field :profile_image, placeholder:"profile_image" %>
      </div>
      <div class="profile-edit">
      <label for="inputName">Name</label>
      <%= f.text_field :name, autofocus:true, id:"inputName",  placeholder:"Name" %>
      </div>
      <div class="profile-edit">
      <h4>自己紹介</h4>
      <%= f.text_area :introduction %>
      </div>
      <div class="profile-edit">
      <br><%= f.submit '変更を保存する', class:"btn btn-outline-primary" %></br>
      </div>
    <% end %>
  </div>