<!--Todo 部分テンプレ必要 coach側のcoach/showとuser側のcoach/show -->
<div class="container pt-5">
  <div class="card rounded pb-5  mx-auto">
    <div class="row g-0">
      <div class="col-md-4" style="height: 200px; width: 200px;">
        <%= attachment_image_tag @coach, :profile_image, fallback: "noimage.png", size:'200x200', class: "card-img-left" %>
      </div>
      <div class="col-md-7" style="height: 200px;">
        <div class="card-body pt-5">
          <h3 class="card-title font-weight-bold pb-1"><%= @coach.name %></h3>
          <p class="card-text"><%= @coach.introduction %></p>
          <span class="profile-edit-button">
            <%= link_to coaches_coaches_edit_path, class: 'button' do %>
              <%= image_tag 'setting.png', :size =>'70x70'%>編集する
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
 