<div class="container pt-5">
<!-- コーチのプロフィール -->
<div class="card rounded mx-auto">
<div class="row g-0">
  <div class="col-md-3 mx-auto pt-3 pb-3" style="height: 250px;">
    <%= attachment_image_tag @coach, :profile_image, fallback: "noimage.png", size:'200x200', class: "card-img-left" %>
  </div>
  <div class="col-md-7" style="height: 250px;">
    <div class="card-body">
      <h3 class="card-title font-weight-bold pb-1"><%= @coach.name %></h3>
      <p class="card-text">
        <%= @coach.introduction %><br>
        <% @coach.tags.each do |tag| %>
          <%= tag.tag_name %>
        <% end %>
      </p>
      <div class="favorite-count">
        <i class="fas fa-thumbs-up fa-fw"></i><%= @coach.favorites.count %>Good Coach!!
      </div>
       <!-- ログインしているコーチのプロフィールのみ編集可能 -->
      <% if @coach.is_same?(current_coach) %>
      <span class="editting-button">
        <%= link_to edit_coaches_coach_path, class: "link" do %>
          <%= image_tag 'setting.png', :size =>'70x70'%>プロフィールを編集する
        <% end %>
      <% end %>
      </span>
    </div>
  </div>
</div>
</div>
<!-- コーチに紐づいた投稿一覧 -->
<div class="pst"><p>POSTS</p></div>
<div class="card-deck mt-5">
<% @posts.each do |post| %>
  <div class="col-md-3 mb-3">
    <div class="card">
        <div class="card-body">
          <% if post.post.attached? %>
            <div class="video-post mx-auto" style="width: 200px;">
             <%= video_tag rails_blob_path(post.post), size: "180x150",autoplay: true, muted: true %>
            </div>
          <% end %>
        <h6><%= post.title %></h6>
        <%= link_to "READ MORE", coaches_post_path(post.id), :style => "color:red;" %><br>
        <!--ログインしているコーチにしか見れないリンク -->
        <% if @coach.is_same?(current_coach) %>
          <%= link_to "Edit", edit_coaches_post_path(post.id), :style => "color:red;" %> |
          <%= link_to "Destroy", coaches_post_path(post.id), method: :delete, :style => "color:red;", "data-confirm" => "本当に消しますか？" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>