<!-- ユーザーの場合 -->
<% if user_signed_in? %>
  <div class="container pt-5">
    <div class="card rounded pb-5  mx-auto">
      <div class="row g-0">
        <div class="col-md-3 mx-auto pt-3 pb-3" style="height: 250px;">
          <%= attachment_image_tag @coach, :profile_image, fallback: "noimage.png", size:'200x200', class: "card-img-left" %>
        </div>
        <div class="col-md-7" style="height: 200px;">
          <div class="card-body pt-5">
            <h3 class="card-title font-weight-bold pb-1"><%= @coach.name %></h3>
            <p class="card-text">
              <%= @coach.introduction %><br>
              <% @coach.tags.each do |tag| %>
                <%= tag.tag_name %>
              <% end %>
              </p>
              <!-- お気に入りボタン -->
              <div id="favorites_buttons_<%= @coach.id %>">
                <%= render partial: 'coaches/favorites/favorite', locals: { coach: @coach} %>
              </div>
            <!-- DM -->
            <% if @coach_ids.include?(@coach.id) %>
             <br>
             <%= link_to "チャットへ", rooms_path %><br>
            <% else %>
              <%= form_for Room.new do |f| %>
                <%= f.hidden_field :coach_id, :value => @coach.id %>
                <%= f.submit class:"btn btn-info" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
 <% end %>
 <!-- コーチの場合 -->
 <% if coach_signed_in? %>
   <div class="container pt-5">
    <!-- コーチのプロフィール -->
    <div class="card rounded mx-auto">
      <div class="row g-0">
        <div class="col-md-3 mx-auto pt-3 pb-3" style="height: 250px;">
          <%= attachment_image_tag @coach, :profile_image, fallback: "noimage.png", size:'200x200', class: "card-img-left" %>
        </div>
        <div class="col-md-7" style="height: 200px;">
          <div class="card-body">
            <h3 class="card-title font-weight-bold pb-1"><%= @coach.name %></h3>
            <p class="card-text">
              <%= @coach.introduction %><br>
              <% @coach.tags.each do |tag| %>
                <%= tag.tag_name %>
              <% end %>
            </p>
             <!-- ログインしているコーチのプロフィールのみ編集可能 -->
            <% if @coach.is_same?(current_coach) %>
            <span class="profile-edit-button">
              <%= link_to edit_coaches_coach_path, class:"btn btn-outline-primary", :style => "color:black;" do %>
                <%= image_tag 'setting.png', :size =>'70x70'%>編集する
              <% end %>
            <% end %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- コーチに紐づいた投稿一覧 -->
    <div class="pst"><p>MY POSTS</p></div>
    <div class="card-deck mt-5">
      <% @posts.each do |post| %>
        <div class="col-md-3 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="video-post mx-auto" style="width: 200px;">
               <%= video_tag rails_blob_path(post.post), size: "120x150",autoplay: true, muted: true %>
              </div>
              <h6><%= post.title %></h6>
              <%= link_to "READ MORE", coaches_post_path(post.id), :style => "color:red;" %><br>
              <!--ログインしているコーチにしか見れないリンク -->
              <% if @coach.is_same?(current_coach) %>
                <%= link_to "Edit", edit_coaches_post_path(post.id), :style => "color:red;" %> |
                <%= link_to "Destroy", coaches_post_path(post.id), method: :delete, :style => "color:red;", "data-confirm" => "本当に消しますか？" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
 <% end %>