<div class="container mt-5">
  <div class="card rounded mb-3  mx-auto">
    <div class="row g-0">
      <div class="col-md-4" style="height: 200px; width: 200px;">
        <%= attachment_image_tag @user, :profile_image, fallback: "noimage.png", size:'200x200', class: "card-img-left" %>
      </div>
      <div class="col-md-7" style="height: 200px;">
        <div class="card-body pt-5">
          <h3 class="card-title font-weight-bold pb-1"><%= @user.name %></h3>
          <p class="card-text"><%= @user.introduction %></p>
          <span class="button">
            <%= link_to users_edit_path do %>
              <%= image_tag 'setting.png', :size =>'70x70'%>プロフィールを編集
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>