<div class="container pt-5">
  <div class="card rounded mb-3  mx-auto">
    <div class="row g-0">
      <div class="col-md-4" style="height: 200px; width: 200px;">
        <%= attachment_image_tag @user, :profile_image, fallback: "noimage.png", size:'200x200', class: "card-img-left" %>
      </div>
      <div class="col-md-7" style="height: 250px;">
        <div class="card-body pt-5">
          <h3 class="card-title font-weight-bold pb-1"><%= @user.name %></h3>
          <p class="card-text"><%= @user.introduction %></p>
          <span class="editting-button">
            <%= link_to edit_user_path(@user.id), class: "link" do %>
              <%= image_tag 'setting.png', :size =>'70x70'%>プロフィールを編集する
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="user-mypage-content col-6">
    <% if @user.is_same?(current_user) %>
    <div class="mypage-text">
      <%= link_to "いいねしたコーチ一覧へ", favorite_coaches_path, :style => "color:black;" %>
    </div>
  </div>
  <div class="user-mypage-content col-6">
    <div class="mypage-text">
      <%= link_to "コーチとのDM", rooms_path, :style => "color:black;"%>
    </div>
  </div>
  <% end %>
  </div>
</div>