
<% if user_signed_in? %>
  <div class="chat-field pt-3 pb-5">
    <div class="chat-room-user">
      <h3><%= @coach.name %>とのチャットルーム</h3>
    </div>
    <% @messages.each do |m| %>
      <!-- メッセージがUserによるものだったら -->
      <% if m.is_user %>
        <!-- メッセージを右に寄せる -->
        <div class="right-message">
          <div class="bms_message_box">
            <%= m.content %>
          </div>
          <div class="msg-flex">
            <%= attachment_image_tag @user, :profile_image, fallback: "noimage.png", size:'100x100' %>
          </div>
        </div>
      <!-- メッセージがCoachによるものだったら -->
      <% else %>
        <!-- メッセージを左に寄せる -->
        <div class="left-message">
          <div class="msg-flex">
            <%= attachment_image_tag @coach, :profile_image, fallback: "noimage.png", size:'100x100' %>
          </div>
          <div class="bms_message_box">
            <%= m.content %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% elsif coach_signed_in?%>
  <div class="chat-field pt-3 pb-5">
    <div class="chat-room-user">
      <h3><%= @user.name %>とのチャットルーム</h3>
    </div>
    <% @messages.each do |m| %>
      <!-- メッセージがUserによるものだったら -->
      <% if m.is_user %>
        <!-- メッセージを左に寄せる -->
        <div class="left-message">
          <div class="msg-flex">
            <%= attachment_image_tag @user, :profile_image, fallback: "noimage.png", size:'100x100' %>
          </div>
          <div class="bms_message_box">
            <%= m.content %>
          </div>
        </div>
      <!-- メッセージがCoachによるものだったら -->
      <% else %>
        <!-- メッセージを右に寄せる -->
        <div class="right-message">
          <div class="bms_message_box">
            <%= m.content %>
          </div>
          <div class="msg-flex">
            <%= attachment_image_tag @coach, :profile_image, fallback: "noimage.png", size:'100x100' %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<div class="chats">
  <div class="chat" id= "message" >
    <!--messageが入っているかどうか-->
    <%= render 'rooms/message'%>
  </div>
   
</div>